[submodule "OddsHarvester"]
	path = OddsHarvester
	url = https://github.com/cahangeorge/OddsHarvester.git
	branch = platform

[submodule "penaltyblog"]
	path = penaltyblog
	url = https://github.com/cahangeorge/penaltyblog.git
	branch = platform

[submodule "soccerdata"]
	path = soccerdata
	url = https://github.com/cahangeorge/soccerdata.git
	branch = platform
